@charset "utf-8";
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* TAGS DE BASE/////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

h1, h2, h3, h4, h5, h6{}

a{text-decoration: underline !important;}

li{list-style: circle !important;}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* TAGS DE BASE/////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
#container1, #container2, #container3, #container4, #container5{height: auto !important; width: auto !important; margin: 0!important; padding: 0!important}
#container5{width: auto !important;}

#header{width: auto !important;}

#contactInfos{
	text-shadow: 0px;
	filter: glow(color=#990000,strength=0);
}
#contactInfos .telephone{
	text-shadow: 0px #000000;
	filter: glow(color=#990000,strength=0);
}

#mainMenu{display: none;}

#content{width: auto !important;}
#mainContent{width: auto !important;}
#extraContent {display: none;}

#footer{width: auto !important;}
#bottomMenu{display: none;}
#companyInfos{right: 0;}

/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* SEULEMENT DES CLASSES ///////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

/* rollOverTrans */
.rollOverTrans:hover img{filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1;} /* overwrite car sinon bug dans le print preview */